<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <%- include('../partials/head.ejs')%>
</head>
<body>
    <header>
        <%- include('../partials/header.ejs')%>
    </header>
    <main>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum interdum turpis cursus nunc blandit, eget tempus turpis scelerisque. Nam volutpat, odio vitae sodales egestas, odio quam sodales leo, placerat tempus nibh nisi at est. Fusce tincidunt massa ornare leo faucibus, ac cursus nibh mattis. Ut vel tempor nulla. Suspendisse gravida lacus ac sollicitudin egestas. Suspendisse dignissim vitae dui id imperdiet. Pellentesque id lorem interdum leo congue aliquet vel ut massa. Ut a suscipit nulla. Aliquam in sodales velit, vel mollis leo. Mauris blandit, eros sed varius gravida, erat magna semper lacus, id luctus urna nisi nec nisi.</p>

        <p> Mauris et efficitur quam, at aliquet diam. In dictum risus non odio egestas, nec bibendum lacus interdum. Nam tincidunt urna vehicula nisi venenatis, a ultrices ex maximus. Pellentesque pulvinar sem sed nisl vehicula, eu mattis diam pharetra. Ut lacinia ligula sit amet lectus aliquam, eget pharetra nisi volutpat. Integer ac justo in neque condimentum pulvinar. Nam tincidunt, leo at tempor iaculis, quam nulla malesuada magna, in rutrum justo nulla sed sapien. Quisque consectetur auctor elit. Quisque efficitur ut libero in consectetur.</p>
        
        <p> Duis tempus elit vitae mauris vestibulum accumsan. Phasellus sollicitudin tellus sem, ac pulvinar purus pulvinar at. Aenean a luctus sapien, ut fringilla neque. Donec malesuada leo blandit consequat consectetur. Cras viverra non tortor quis scelerisque. Aliquam sed sapien sem. Nunc nisl nisi, aliquet vitae aliquam et, pulvinar in diam. Nunc quis laoreet magna, at pharetra lectus. In hac habitasse platea dictumst. Mauris vel ante iaculis, auctor diam in, dictum justo. Mauris vel sodales felis, a interdum odio. Donec laoreet laoreet tortor a luctus. Phasellus sodales ipsum a mi dignissim venenatis. Aliquam pellentesque risus vitae lacus tempus convallis. Maecenas vehicula diam a lacus laoreet consectetur. </p>
        
        <a href="/logout">Sair</a>
    </main>
    <footer>
        <%- include('../partials/footer.ejs')%>
    </footer>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>