<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <%- include('../partials/head.ejs')%>
</head>
<body>
    <header>
        <%- include('../partials/header.ejs')%>
    </header>
    <main>
      <form method="post" action="/logar" class="container p-5 rounded-5 bg-primary text-white bg-opacity-75 mt-5" style="width: 30%">
        <!-- Inserir email -->
        <div class="form-outline mb-4">
          <input type="email" id="form2Example1" name="email" class="form-control" />
          <label class="form-label" for="form2Example1">Email</label>
        </div>
      
        <!-- Inserir a senha -->
        <div class="form-outline mb-4">
          <input type="password" id="form2Example2" name="senha" class="form-control" />
          <label class="form-label" for="form2Example2">Senha</label>
        </div>
  
        <!-- Botão para inscrição -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Entrar</button>
      
        </div>
      </form>
    </main>
    <footer>
        <%- include('../partials/footer.ejs')%>
    </footer>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>